.footer {
    grid-area: footer;
    padding: 1em;
    background-color: #012032;
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
} 

.footer span {
    margin-top: 1em;
}

.footer img {
    height: 40px;
    margin-right: 40px;
}