@import "header.css"; 
@import "navigation.css"; 
@import "content.css"; 
@import "footer.css"; 

body {
    font-family: Calibri, sans-serif;
    margin: 0;
    background-color: aliceblue;
}

button {
    background-color: #01304e;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: aliceblue;
    cursor: pointer;
}

button:hover {
    background-color: #0e91ae;
}

figure {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.2fr 3fr 0.2fr;
    grid-gap: 0 3px;
    grid-template-areas:
        "header header"
        "navbar container"
        "footer footer" ;
}
